{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Grenze|Montserrat:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gabriela&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<title>Articles</title>
</head>
<body>
<header class="header">
	<div class="container">
		<div class="header_inner">
			<div class="header_logo">
			</div>
			<nav class="nav">
				<a class="nav_link" href="{% url 'first try' %}">Главная</a>
				<a class="nav_link" href="{% url 'cities' %}">Города</a>
				<a class="nav_link" href="D:\Прога\magic.html">Магия</a>
				<a class="nav_link" href="D:\Прога\fun.html">Юмор</a>
				<a class="nav_link active" href="{% url 'post_list' %}">Статьи</a>
				<a class="nav_link" href="">Вход</a>
			</nav>
		</div>
	</div>
</header>

    <div>
        <a href="{% url 'post_new' %}"><span></span></a>
    </div>

    <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

</body>
</html>