body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	color: #333;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h3 {
	margin-bottom: 50px;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: url("../images/snow.jpg") center no-repeat;
	background-size: cover;
}

.intro_inner {
	width: 100%;
	max-width: 880px;
	margin: 0 auto;
	text-align: center;
}

.intro_title {
	color: #ffc300;
	font-size: 70px;
	font-weight: 700;
	text-align: center;
	line-height: 1;
	font-family: 'Grenze', serif;
}

.intro_title:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background-color: #ffc300;
	margin: 60px auto;
}

.intro_suptitle {
	margin-bottom: 10px;
	font-size: 72px;
	color: #ffc300;
	font-family: 'Grenze', serif;
}

.header {
	padding-top: 30px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_logo {
	font-size: 30px;
	font-weight: 700;
	color: #000;
}

.nav {
	font-size: 14px;
	text-transform: uppercase;
}

.nav_link {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	position: relative;
	color: #000;
	text-decoration: none;
	transition: color .1s linear;
	font-size: 15px;
}

.nav_link:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background-color: #ffc300;
	opacity: 0;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	transition: opacity .1s linear;
}

.nav_link:hover {
	color: #ffc300;
}

.nav_link:hover:after,
.nav_link.active:after {
	opacity: 1;
}

.nav_link.active {
	color: #ffc300;
}

.btn {
	display: inline-block;
	vertical-align: top;
	padding: 8px 30px;
	font-size: 14px;
	font-weight: 700;
	border: 3px solid #ffc300;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	transition: background .1s linear, color .1s linear;
}

.btn:hover {
	background-color: #fff;
	color: #ffc300;
}

.post {
	margin: 100px;
	alignment: center;
}

.title {
	text-decoration: none;
	color: black;
	font-family: 'Gabriela', serif;
}

.title:hover {
	text-decoration-line: underline;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Gabriela', serif;
	font-size: 28pt;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.hh {
	padding-top: 80px;
}

.bttn {
	display: inline-block;
	vertical-align: top;
	padding: 8px 20px;
	float: right;
	margin-right: 30px;
	margin-top: 50px;
	font-size: 14px;
	font-weight: 700;
	border: 2px solid #000000;
	background-color: white;
	text-decoration: none;
	color: black;
	transition: background .1s linear, color .1s linear;
}

.bttn:hover {
	background-color: #828282;
	color: #fff;
}

.btnn {
	display: inline-block;
	vertical-align: top;
	padding: 8px 30px;
	font-size: 14px;
	font-weight: 700;
	border: 3px solid #000000;
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	transition: background .1s linear, color .1s linear;
}

.btnn:hover {
	background-color: #828282;
	color: #fff;
}

.tbl {
	display: flex;
	justify-content: center;
	font-family: 'Comfortaa', cursive;
}


.cont {
	align-content: center;
	margin-top: 100px;
	text-align: center;
}


.flt {
    float: right;
    width: 300px;
    background: #fff;
    padding: 5px;
    margin: 5px 10px 5px 0;
    border: 1px solid #333;
}


.list {
	text-align: left;
	margin-left: 100px;
	font-family: 'Comfortaa', cursive;
	font-size: 20px;
	line-height: 2;
}

.txt {
	font-family: 'Comfortaa', cursive;
	font-size: 20px;
}

#one {
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-size: 20px;
}



.up {
	display:block;
	position:fixed;
	bottom:30px;
	right:30px;
	padding:5px 10px 2px;
	font-size:16px;
	opacity:0.7;
	background:#ddd;
	border-radius:30px;
	border: 3px solid #ffc300;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	transition: background .1s linear, color .1s linear;
}

.up:hover {
	background-color: #fff;
	color: #ffc300;
}

.yes {
	background-color: black;
	height: 50px;
	width: 70px;
	color: white;
}


.srch {
	width: 300px;
	margin: 0 auto;
}

.in {
	width: 100%;
	height: 42px;
	background: #fff;
	padding-left: 15px;
}

.b {
	height: 26px;
	width: 26px;
	top: 8px;
	right: 8px;
	background: #000;
	cursor: pointer;
}

.b:before {
	content: "\f105";
	font-family: "Comfortaa", cursive;
	color: #F9F0DA;
	font-size: 20px;
	font-weight: bold;
}

.im {
	background: url("../images/heroes-of-might-and-magic-iii-hd.jpg");
}